body {
  color: #201b2d;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

div, p, input, button, form, span, a, ul, li {
   box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
p{
  line-height: 1.65em;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
header {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4ebefe+0,378fd9+100 */
background: #4ebefe; /* Old browsers */
background: -moz-linear-gradient(top,  #4ebefe 0%, #378fd9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4ebefe 0%,#378fd9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4ebefe 0%,#378fd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ebefe', endColorstr='#378fd9',GradientType=0 ); /* IE6-9 */

padding-top: 100px;
color: #fff;
padding-bottom: 225px;
}
.wrapper{
  display: flex;
  justify-content: space-between;
}
.offer {
  margin-top: 166px;
  width: 490px;
}
.title{
  font-size: 37px;
}
.title span{
  font-size: 59px;
}
.intro{
  margin-bottom: 30px;
  margin-top: 30px;
  width: 390px;
}
.btn{
  background: #ffd429;
  color: #111;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  display: block;
  width: 205px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
}
.btn:hover{
  background:#8a8612;
}
.baggage{
  margin-top: 72px;
}
.learn{
  padding-top: 110px;
  padding-bottom: 120px;
}
.section-title {
  font-size: 30px;
  text-align: center;
}
.skills{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.skill{
  width: 290px;
  background: url('../img/icon1.jpg') no-repeat top;
  padding-top: 100px
}
.skill-title{
  font-size: 18px;
}
.skill-text{
  margin-top: 7px;
  font-size: 14px;
}
.skill-free{
  width: 380px;
  background: url('../img/icon2.jpg') no-repeat top;
}
.skill-change{
  background: url('../img/icon3.jpg') no-repeat top;
}
.mail{
  background:#ecf3f8;
  padding-top: 173px;
  padding-bottom: 190px;
}
.form{
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  

}
.input{
  width: 343px;
  border: 1px solid #bbbbbb;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  
}
.btn-form{
  width: 343px;
  border:none;
  cursor: pointer;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  padding: 33px 0;
  background: #164d7a;
}
.credits{
  color: #d4cee3;
  font-size: 14px;
  margin: 0;
  text-align: center;
}




@media (max-width:1200px) {
  .container{
    width: 960px;
  } 
}

@media  (max-width: 992px) {
  .container {
    width: 720px;
  }
  .wrapper{
    flex-direction: column;
  }
  .offer{
    width: 100%;
  }
  .intro{
    width: 100%;
  }
  .baggage{
    display: block;
    width: 549px;
    margin: 72px auto;
  }
  .skills{
    flex-direction: column;
  }
  .skill{
    width: auto;
    margin-bottom: 30px;
  }
}

@media  (max-width: 768px) {
  .container{
    width: 540px;
  }
  .baggage{
    width: 100%;
  }
  .input{
    width: 100%;
  }
  .btn-form{
    width: 100%;
  }
}

@media  (max-width: 576px) {
  .container{
    width: 90%;
  }
}
